# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Local run outputs
runs/*
!runs/.gitkeep

# OS/editor
.DS_Store
Thumbs.db
